@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body, html {
 font-family: 'Work Sans', sans-serif;
}
a {
 color: rgba(0,0,0,.5);
}
a:hover {
 text-decoration: none;
 color: rgba(26, 25, 25, 0.678)
}
/* CLIENTE */
.w90 {
 padding: 10px;
}
.jingle {
 background:#F6F6F6;
}
@media (max-width:720px) {
    .jingle {
     background: white;
     box-shadow: 0px 5px #002857;;
    }
}
.import_client {
 width: 90%;
 margin: auto;
}
.import_client .lef h1 {
 font-size: 16px;
}
.import_client {
 display: flex;
}
.rig {
 width: 50%;
 text-align: end;
}
.rig a {
 margin: 10px;
}
.lef {
 width: 50%;
}
@media (max-width:720px) {
    .rig {
     display: none;
    }
    .lef {
     width: 100%;
     text-align: center;
    }
}



/* NAV */
.logo {
  max-width: 150px;
}

.cart {
    padding: 10px;
}
.logo_mobile {
  max-width: 150px;
  margin: auto;
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #5d5959;
}
.wrap {
 width: 90%;
 margin: auto;
}

.navbar-light .navbar-toggler {
 color: rgba(0,0,0,.5);
 border-color: rgba(0, 0, 0, 0);
}
.client {
    letter-spacing: 15px;
    text-align: center;
    max-width: 300px;
    margin: auto;
}
.client a {
 box-shadow: 1px 0px #000;
}
@media (max-width:720px) {
    .wrap {
     width: 90%;
     padding: 10px;
    }
    .logo {
     display: none;
    }
}
@media (min-width:940px) {
    .client {
     display: none;
    }
    .logo_mobile {
     display: none;
    }
}

.bg-light {
 background-color: #f8f9fa00!important;
}

.wrapper {
 width: 90%;
 margin: auto;
}
@media (max-width:940px) {
    .wrapper {
     display: none;
    }
}
.w-100 {
 width: 100%!important;
 height: 250px!important;
}
@media (max-width:720px) {
    .w-100 {
     width: 100%!important;
     height: 100px!important;
    }
}

/* Footer Import */
.footer {
 background: #EEEEEE;
 /* position: absolute;
 bottom: 0; */
}
.fw90 {
 text-align: center;
 width: 90%;
 margin: auto;
}
.footer .fw90 {
 font-size: 14px;
 font-weight: normal;
 color: rgb(119, 119, 119);
 font-weight: 400;
}
/* Import Cart */
.cartmobile {
 padding: 7px;
 margin: 10px;
 border: 1px solid;
}
/* .fa-shopping-cart {
 color: #ff0018;
} */
@media (max-width:720px) {
    .fa-shopping-cart {
     color: rgba(0,0,0,.5);
    }
    
}


/* NavSearchForMobile */
.clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
   }
   * html .clear {
    zoom: 1;
   }
   *:first-child+html .clear {
    zoom: 1;
   }
   .logo a:hover {
    color: #c14240;
   }
   .search-button {
    float: right;
   }
   .search-button button {
    position: relative;
    top: -10px;
    left: -10px;
    border: none;
    color: rgba(0,0,0,.5);
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    padding: 10px;
    border-radius: 50px;
    /* padding: 5px 10px 9px 10px; */
   }
   .search-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
   }
   .search-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
   }
   .search-popup label {
    color: white;
   }
   .search-form {
    display: block;
    margin: 7em 4em;
    position: relative;
    right: -100%;
   }
   .form {
    position: relative;
   }
   .form input {
    outline: none;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    border-color: #dad6d5;
    background-color: transparent;
    width: 100%; 
    padding: 1em 0;
    color: #dad6d5;
   }
   .form input:focus::-webkit-input-placeholder {
    opacity: 0;
   }
   .form input:focus::-moz-placeholder {
    opacity: 0;
   }
   .form input:-ms-input-placeholder {
    opacity: 0;
   }
   .form input:focus:-moz-placeholder {
    opacity: 0;
   }
   .form label {
    position: absolute;
    top: 25%;
    right: 0;
   }
   .social-media {
    list-style: none;
    float: right;
   }
   .social-media li {
    display: inline-block;
   }
   .social-media li a {
    text-decoration: none;
    display: block;
    padding: 1.9em 15px;
    color: #dad6d5;
    -webkit-transition: color .6s ease;
    -moz-transition: color .6s ease;
    -ms-transition: color .6s ease;
    -o-transition: color .6s ease;
    transition: color .6s ease;
   }
   .social-media li a:hover {
    color: #c14240;
   }
   .list {
    list-style: none;
    text-align: center;
   }
   .list li {
    display: inline-block;
   }
   .list li a {
    text-decoration: none;
    display: block;
    padding: 1.9em 15px;
    color: #dad6d5;
    text-transform: uppercase;
    -webkit-transition: color .6s ease;
    -moz-transition: color .6s ease;
    -ms-transition: color .6s ease;
    -o-transition: color .6s ease;
    transition: color .6s ease;
   }
   .list li a:hover {
    color: #c14240;
   }
   .search-button {
    display: none;
   }
    @media(max-width:976px) {
     .search-button {
      display: block;
     }
    }
   /* End */

/* Import Ham */
/* @import url(https://fonts.googleapis.com/css?family=Quicksand);
html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
 */
.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.95);
}
.menu-collapsed {
    transition: all .25s;
    position: absolute;
    top: 81px;
    left: 48px;
    height: 36px;
    width: 36px;
    z-index: 1;
    cursor: pointer;
}
@media (min-width:944px) {
  .menu-collapsed {
    display:none;
    }
}

/* .menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
} */
.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px;
}
.menu-expanded {
    transition: all .25s;
    text-align: inherit;
    line-height: 51px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {
  transition: all .15s;
  text-decoration: none;
  font-size: 2em;
  padding: 5px;
  color: #fff;
  display: block;
}
.menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.row {
  padding-top: 150px;
}

h1 {
  font-size: 3em;
}

h3 {
  color: #999;
}

p {
  line-height: 160%;
  letter-spacing: 1px;
}


/* Import */

    .fa-square-full {
        color: #00285700;
    }
    .carousel-control-next {
       display: none;
    }
    .carousel-control-prev {
        display: none;
    }

    .logo_mob {
      width: 90%;
    
      display: block;
      margin: auto;
  }
