.sele {
max-width: 60px;
margin: 5px;
}
.seleswidth {
    width: 90%;
    margin: auto;
}
.sele_hp {
    max-width: 30px;
}

<div class="radio-tabs">
      <h1>OFERTAS</h1>

      <input class="state" type="radio" title="Breakfast" name="houses-state" id="breakfast" checked="">
      <input class="state" type="radio" title="Dinner" name="houses-state" id="dinner">
      <input class="state" type="radio" title="Dessert" name="houses-state" id="dessert">
  
      <div class="tabs">
        <label for="breakfast" id="breakfast-tab" class="tab">COMPUTADORES</label>
        <label for="dinner" id="dinner-tab" class="tab">TELEFONES</label>
        <label for="dessert" id="dessert-tab" class="tab">PC GAMER</label>
      </div>
      
      <div class="panels">
        
        <div id="breakfast-panel" class="panel active">
        
        <!-- - Product 01 -->
        <div class="cart">
          <div class="card"><a href="computadores-business-b100\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/0d/70/f0/0d70f0cbae7d84f67b2d52842eee689e.jpg" alt="">
            <div class="nameproduct">
              <span>COMPUTADOR BUSINESS B100 - CELERON DUAL CORE J1800 2.41GHZ 4GB DDR3 SODIMM HD 500GB 2 SERIAL 1 PARALELA FONTE 200W</span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="computadores-business-b100\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div>
        <!-- </div> -->

        <!-- - Product 02 -->
        <div class="cart">
          <div class="card"><a href="computadores-business-b100\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/a6/7d/9a/a67d9aff2b75f8b39bdb2d39c38f215c.jpg" alt="">
            <div class="nameproduct">
              <span>COMPUTADOR BUSINESS B100 - CELERON DUAL CORE J1800 2.41GHZ 4GB DDR3 SODIMM SEM HD/SSD 2 SERIAL 1 PARALELA FONTE 200W </span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="computadores-business-b100\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div>
        <!-- </div> -->

        <!-- - Product 03 -->
        <div class="cart">
          <div class="card"><a href="computadores-business-b100\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/a6/7d/9a/a67d9aff2b75f8b39bdb2d39c38f215c.jpg" alt="">
            <div class="nameproduct">
              <span>COMPUTADOR BUSINESS B100 - CELERON DUAL CORE J1800 2.41GHZ 4GB DDR3 SODIMM SSD 120GB 2 SERIAL 1 PARALELA FONTE 200W </span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="computadores-business-b100\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div>
        
        <!-- - Product 04 -->
        <div class="cart">
          <div class="card"><a href="computadores-business-b300\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/d1/a5/53/d1a5535c95c9752f0172a2ed5eeaf926.jpg" alt="">
            <div class="nameproduct">
              <span>COMPUTADOR BUSINESS B100 - CELERON DUAL CORE J1800 2.41GHZ 4GB DDR3 SODIMM SSD 120GB 2 SERIAL 1 PARALELA FONTE 200W </span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="computadores-business-b300\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div>
        </div>
        
        <div id="dinner-panel" class="panel">
        
        <!-- - Product 01 -->
        <div class="cart">
          <div class="card"><a href="ramal-sem-fio-digital-com-identificador-de-chamadas-ts-3111-preto\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/93/37/d9/9337d94a00033f9891721f02cb2a740e.jpg" alt="">
            <div class="nameproduct">
              <span>RAMAL TELEFONE SEM FIO TS 2511 PRETO </span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="ramal-telefone-sem-fio-ts-2511-preto\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div>
        
        

        <!-- - Product 02 -->
        <div class="cart">
          <div class="card"><a href="ramal-telefone-sem-fio-ts-2511-preto\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/f5/6b/0a/f56b0a6326eec666691b1483d8714336.jpg" alt="">
            <div class="nameproduct">
              <span>RAMAL SEM FIO DIGITAL COM IDENTIFICADOR DE CHAMADAS TS 3111 PRETO </span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="ramal-telefone-sem-fio-ts-2511-preto\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div>
        

        <!-- - Product 03 -->
        <div class="cart">
          <div class="card"><a href="telefone-sem-fio-com-identificador-de-chamadas-2-ramais-ts3113-preto\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/87/5a/20/875a2097d5d8acb6a5ea37327c2f6939.jpg" alt="">
            <div class="nameproduct">
              <span>RAMAL TELEFONE SEM FIO TS 2511 PRETO </span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="ramal-telefone-sem-fio-ts-2511-preto\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
      </div>
      </div>
      </div>
        

        <!-- - Product 02 -->
        <!-- <div class="cart">
          <div class="card"><a href="telefone-sem-fio-com-identificador-de-chamadas-2-ramais-ts3113-preto\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/87/5a/20/875a2097d5d8acb6a5ea37327c2f6939.jpg" alt="">
            <div class="nameproduct">
              <span>TELEFONE SEM FIO COM IDENTIFICADOR DE CHAMADAS + 2 RAMAIS TS3113 PRETO</span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="telefone-sem-fio-com-identificador-de-chamadas-2-ramais-ts3113-preto\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div> -->
        </div>
        </div>
        <div id="dessert-panel" class="panel">
          <li>A whole red velvet cake</li>
          <li>Rocky road ice cream</li>
          <li>S'mores</li>
          <li>Cotton candy (the multicolored kind)</li>
          <li>Krispy Kreme glaze donuts</li>
          <li>Coffee (no decaf allowed)</li>
          <li>A toothbrush</li>
        </div>
        
      </div>
  
  </div>


  ::-webkit-meter-even-less-good-value
  <!-- - Product 01 -->
        <!-- <div class="cart">
          <div class="card"><a href="ramal-sem-fio-digital-com-identificador-de-chamadas-ts-3111-preto\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/93/37/d9/9337d94a00033f9891721f02cb2a740e.jpg" alt="">
            <div class="nameproduct">
              <span>RAMAL TELEFONE SEM FIO TS 2511 PRETO </span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="ramal-telefone-sem-fio-ts-2511-preto\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div> -->
        
        

        <!-- - Product 02 -->
      <!--   <div class="cart">
          <div class="card"><a href="ramal-telefone-sem-fio-ts-2511-preto\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/f5/6b/0a/f56b0a6326eec666691b1483d8714336.jpg" alt="">
            <div class="nameproduct">
              <span>RAMAL SEM FIO DIGITAL COM IDENTIFICADOR DE CHAMADAS TS 3111 PRETO </span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="ramal-telefone-sem-fio-ts-2511-preto\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div> -->
        

        <!-- - Product 03 -->
     <!--    <div class="cart">
          <div class="card"><a href="telefone-sem-fio-com-identificador-de-chamadas-2-ramais-ts3113-preto\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/87/5a/20/875a2097d5d8acb6a5ea37327c2f6939.jpg" alt="">
            <div class="nameproduct">
              <span>RAMAL TELEFONE SEM FIO TS 2511 PRETO </span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="ramal-telefone-sem-fio-ts-2511-preto\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
      </div>
      </div>
      </div> -->
        

        <!-- - Product 02 -->
        <!-- <div class="cart">
          <div class="card"><a href="telefone-sem-fio-com-identificador-de-chamadas-2-ramais-ts3113-preto\index.html">
            <img class="imagem_product" src="https://i.pinimg.com/564x/87/5a/20/875a2097d5d8acb6a5ea37327c2f6939.jpg" alt="">
            <div class="nameproduct">
              <span>TELEFONE SEM FIO COM IDENTIFICADOR DE CHAMADAS + 2 RAMAIS TS3113 PRETO</span>
            </div>
          </a>
          <br>
          <a class="btn_for_cart" href="telefone-sem-fio-com-identificador-de-chamadas-2-ramais-ts3113-preto\index.html">Compre Agora <i class="fas fa-shopping-cart" style="color: var(--teal);"></i></a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div> -->


    
    

 